.blog{
    background-color: burlywood;
    padding: 10px;
}
.abc{
    background-image: url("tech-companies.jpg");
    background-position: center;
    background-origin: border-box;
    background-size:200px;
}